body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

.social-media-links {
    margin-top: 20px;
}

.social-media-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-media-links a:hover {
    color: #337ab7;
}

.website-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.website-card h2 {
    font-size: 18px;
    margin-top: 0;
}

.website-card a {
    text-decoration: none;
    color: #337ab7;
}

.website-card a:hover {
    color: #23527c;
}

#websites-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    #search-input {
        width: 100%;
    }
    .social-media-links a {
        font-size: 18px;
    }
}

/* Add styles for loading animation, modal, and pagination */
.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #337ab7;
}

.modal-body {
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    margin: 0 10px;
}